*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.player{
    font-family: sans-serif;
    position: relative;
    top: 2rem;
    left: 30%;
}
.myvideos{
    width: 500px;
    z-index: 1;
}
.player.fullscreen{
    top: 0;
    left: 0;
}
.myvideos.fullscreen{
    width: 100vw;
    height: 90vh;
    left: 0; 
}
.myvideos:hover ~ .progress{
   cursor: pointer;
   opacity: 1;
}
/* all process like play , speed , volume etc */
.progress{
    width: 500px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity .9s;
    padding: 1rem 0 1.5rem;
    background-color: #222;
}
.progress.fullscreen{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 11.5rem;
    width: 73vw;
}
.progress:hover{
    opacity: 1;
    bottom: 0;
}
/* progress bar */
.progress__box{
   width: 500px;
   margin-top: -.5rem;
   position: relative;
   z-index: 12;
   display: flex;
   background-color: honeydew;
}
.progress__box.fullscreen{
    margin-left: 11.5rem;
    width: 73vw;
}
.myvideos:hover ~ .progress__box > .progress__bar{
  height: 10px;
}
.progress__box:hover{
  height: 10px;
}
.progress__bar{
    height: 6px;
    width: 500px;
    flex: 0;
    flex-basis:0%;
    background: yellow;
    transition: all .2s;
}

.btn{    
    border: none;
    background-color: transparent;
    color:#000;
    outline: none;
    font-size: 1rem;
    color: #fff;
    margin: .2rem .6rem;
}
.screen:hover{
    cursor: pointer;
}
/* volume and speed button */
.playing__range{
    -webkit-appearance: none;
    height: 5px;
    width: 150px;
    border-radius: 5px;
    outline: none;
}
.playing__range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    background: greenyellow;
}